<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.study.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.mybatis.study.model.User">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result column="userName" property="userName" jdbcType="VARCHAR"></result>
        <result column="passWord" property="passWord" jdbcType="VARCHAR"></result>
        <result column="sex" property="sex" jdbcType="INTEGER"></result>
    </resultMap>

    <insert id="insert" parameterType="com.mybatis.study.model.User" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO user (id, userName, passWord, sex)
        VALUES(#{id},#{userName},#{passWord},#{sex})
    </insert>

    <select id="findUserById" parameterType="int" resultMap="BaseResultMap">
       SELECT * FROM user WHERE id = #{id}
   </select>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT * FROM user
    </select>
</mapper>

