<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <package name="com.mybatis.study.model"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://120.79.4.13:3306/wms_test?useSSL=false" />
                <property name="username" value="root" />
                <property name="password" value="admin123"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--<package name="com/mybatis/study/mapper"></package>-->
       <mapper resource="com/mybatis/study/mapper/UserMapper.xml"/>
       <!-- <mapper url=""></mapper>-->
       <!-- <mapper class=""></mapper>-->
    </mappers>
</configuration>
